<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<a th:href="@{/products}">Back to product list</a>
<form th:action="@{/create}" th:method="post" th:object="${product}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td><input type="text" th:field="*{manufacturer}"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Create new product</button></td>
        </tr>
    </table>
</form>
</body>
</html>